<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/nav}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/order.css}">
    <style>
        .address{
            margin-bottom : 15px;
        }
    </style>
</th:block>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/order.js}"></script>
</th:block>

<div layout:fragment="content">
    <div>
        <div class="orderInfo text-center">
            <span th:text="'주문 시간:'+ ${#temporals.format(order.orderedAt, 'yyyy-MM-dd HH:mm')}"></span><br>
            <br>
            <div class="address">
                <span><b>배달주소</b></span><br>
                <span th:text="${order.address}"></span>
            </div>
            <div th:each="menu : ${orderMenuList}">
                <div>
                    <span th:text="${menu.menuName}"></span>
                    <span th:text="'x'+ ${menu.count}"></span>
                    <span th:text="${#numbers.formatInteger(menu.amount * menu.count,4)} +'원'"></span>
                </div>
            </div>
            <br>
            <span class="totalAmountRes" th:text="'총 합계 : ' + ${#numbers.formatInteger(order.amount,4)} +'원'"></span>
        </div>
        <div class = "orderStatus text-center">
            <div class="btnBox" th:if="${order.cancelledAt==null}">
                <button class="btn btn-dark" th:if="${order.acceptedAt!=null and order.cookingStartedAt==null}" th:value="${order.id}" onclick="acceptOrder(this.value)">조리 시작</button>
                <button class="btn btn-dark" th:if="${order.deliveryStartedAt==null and order.cookingStartedAt!=null }" th:value="${order.id}" onclick="acceptOrder(this.value)">배달 시작</button>
                <button class="btn btn-dark" th:if="${order.deliveryStartedAt!=null and order.receivedAt==null }" th:value="${order.id}" onclick="acceptOrder(this.value)">배달 완료</button>
            </div>
            <p th:text="'주문 시간 :' +${#temporals.format(order.orderedAt,'yyyy-MM-dd HH:mm')}"></p>
            <div th:if="${order.cancelledAt==null}">
                <p th:if="${order.acceptedAt!=null}" th:text="'수락 시간 :' +${#temporals.format(order.acceptedAt,'yyyy-MM-dd HH:mm')}"></p>
                <p th:if="${order.cookingStartedAt!=null}" th:text="'조리 시작 :' +${#temporals.format(order.cookingStartedAt,'yyyy-MM-dd HH:mm')}"></p>
                <p th:if="${order.deliveryStartedAt!=null}" th:text="'배달 시작 :' +${#temporals.format(order.deliveryStartedAt,'yyyy-MM-dd HH:mm')}"></p>
                <p th:if="${order.receivedAt!=null}" th:text="'배달 완료 :' +${#temporals.format(order.receivedAt,'yyyy-MM-dd HH:mm')}"></p>
            </div>
            <div th:unless="${order.cancelledAt==null}">
                <span th:text="'주문 취소 :' +${#temporals.format(order.cancelledAt,'yyyy-MM-dd HH:mm')}"></span>
            </div>
        </div>
    </div>
</div>

</html>