
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BagelFatOne-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/BagelFatOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'SUITE-Regular';
}

body{
    max-width : 700px;
    width : 90%;
    height : 100vh;
    margin : auto;
}

#listBox{
    width : 100%;
}

.logo {
    font-size: 40px;
    text-decoration: none;
    color: rgb(238, 99, 99);
    margin-left: 5px;
    margin-right: 5px;
    font-family:"BagelFatOne-Regular";
}

.navbar {
    margin-bottom : 10px;
}

ul > li {
    display : inline-block;
}

.navLink {
    font-size: 21px;
    text-decoration: none;
    color : black;
    margin-right : 8px;
}

.navLink:hover {
    font-size: 23px;
    text-decoration: none;
    color: rgb(238, 99, 99);
    margin-right : 8px;
}

.orderLink {
    font-size: 20px;
    text-decoration: none;
    color : black;
    margin-right : 8px;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(238, 99, 99);
}

.orderLink:hover {
    font-size: 22px;
    text-decoration: none;
    color: rgb(238, 99, 99);
    margin-right : 8px;
}