.orderInfo {
    height : 30%;
    box-shadow: 5px 5px 5px rgb(196, 193, 193);
    font-size : 23px;
}

.orderStatus {
    margin-top : 20px;
    display: flex;
    flex-direction: column;
    font-size : 20px;
}

.orderStatus > span{
    margin-top : 10px;
}

.btnBox{
    display: flex;
    flex-direction : row;
}

.btnBox > button {
    margin-right : 10px;
}
