<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/nav}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/order.css}">
</th:block>

<div layout:fragment="content">

    <div sec:authorize="hasAnyAuthority('ROLE_MASTER')"  class="text-center">
        <h2>
            마스터 페이지입니다.
        </h2>
    </div>
    <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')" class="text-center">
        <h2>
            Delivery Store 관리자 페이지 입니다.
        </h2>
    </div>

</div>
</html>
